.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.containerWord {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--CLR-Border);
    width: fit-content;
    background: var(--CLR-Case);
    border-radius: 3px;
    border: 0.1vw solid var(--CLR-Border);
    gap: 0.05vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contentCase {
    position: relative;
    display: flex;
    justify-content: center;
    width: 4vw;
    aspect-ratio: 1/1;
    align-items: center;
    border-radius: 0.2vw;
    border: 0.1vw solid var(--CLR-Border);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.letter {
    position: relative;
    font-size: 2vw;
    color: var(--CLR-Police);
    font-weight: 800;
}

.containerAction {
    position: relative;
    display: flex;
    gap: 1vw;
}

.contentIco {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--CLR-Border);
    width: 4vw;
    border-radius: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: 0.5s;
}

.contentIco:hover {
    transition: 0.5s;
    background-color: var(--CLR04);
}

.ico {
    position: relative;
    color: var(--CLR-White);
    font-size: 2vw;
}