@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --CLR01: rgba(35, 50, 110, 1);
  --CLR02: rgba(54, 88, 168, 1);
  --CLR03: rgba(30, 67, 156, 1);
  --CLR04: rgba(237, 108, 52, 1);
  --CLR05: rgba(255, 255, 255, 1);

  --CLR-White: rgb(240, 247, 246);
  --CLR-Back: rgb(4, 23, 33);
  --CLR-Case: rgb(199, 209, 214);
  --CLR-Border: rgb(93, 108, 112);
  --CLR-Police: rgb(4, 5, 5);

  --CLR-Valid: rgb(83, 112, 87);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  background-color: var(--CLR-Back);
  overflow-x: hidden;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--CLR04);
  border-radius: 25px;
}