.containerGame {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80vh;
}

.contentOne {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    width: 25vw;
}

.contentTwo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.contentThree {
    position: relative;
    display: flex;
    width: 25vw;
    padding-right: 10vw;
}