.containerGame {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80vh;
}

.contentOne {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    width: 25vw;
}

.contentTwo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.contentThree {
    position: relative;
    display: flex;
    width: 25vw;
    padding-right: 10vw;
}

@media (max-width: 1024px) {
    .containerGame {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .contentOne {
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-left: 0;
    }
    .contentTwo {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .contentThree {
        align-items: center;
        justify-content: center;
        padding-bottom: 5vw;
        width: 100%;
        padding-right: 0;
    }
}