.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.2vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 1vw;
    padding: 0.8vw;
    width: 30vw;
    max-height: 20vw;
    overflow: hidden;
}

.contentTitle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    position: relative;
    font-weight: 700;
    font-size: 1.5vw;
    color: black;
}

.contentPlayer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
}

.contentCol {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}

.contentNameCol {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.nameCol {
    color: black;   
    font-size: 0.8vw;
}

.rowItems {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 0.5vw;
    background-color: white;
    border-radius: 3vw;
    padding: 0.7vw;
    background-color: rgba(25, 117, 209, 0.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1vw;
}

.item {
    position: relative;
    align-items: center;
    font-size: 1vw;
}

@media (max-width: 1024px) {
    .container {
        align-self: center;
        width: 95%;
        max-height: 30vw;
        aspect-ratio: initial;
    }
    .title {
        font-size: 3.5vw;
    }
    .nameCol {
        font-size: 2vw;
    }
    .item {
        font-size: 2vw;
    }
}