.nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 2.5%;
}

.contentL {
    position: relative;
    display: flex;
    align-items: end;
    gap: 1vw;
}

.contentLogo {
    position: relative;
}

.logo {
    width: 25vw;
}

.title {
    color: var(--CLR04);
    font-size: 2vw;
    font-weight: 700;
}

.contentR {
    position: relative;
    font-size: 1vw;
    font-weight: 700;
    background-color: var(--CLR04);
    padding: 1vw;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    transition: 0.5s;
}

.contentR:hover {
    transition: 0.5s;
    transform: scale(0.95);
}

a {
    text-decoration: none;
    text-decoration-line: none;
}

.logout {
    color: white;
}